* {
    /* style for every document */
    font-family: 'Outfit', sans-serif;
}

body {
    /* reset */
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);
}

.container {
    /* screen space measurement */
    width: 100vw;
    height: 100vh; 

    /* organization of items */
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.card {
    /* space measurement */
    width: 40%;
    max-width: 305px;
    padding: 1rem;

    /* additional */
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    text-align: center;
}


.img {
    /* space measurement */
    width: 100%;

    /* additional */
    border-radius: .8rem;
}

.container-text {
    /* space measurement */
    margin: auto;
    padding: .4rem;
}

.title {
    color: hsl(218, 44%, 22%);
    font-size: 1.4rem;
    font-weight: 700;
} 

.text {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    display: none; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 375px) {
    .title {
        font-size: .7rem;
    } 
    
    .text {
        font-size: .5rem;
    }
}